body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: linear-gradient(rgb(231, 6, 6), gold, rgb(0, 183, 255), indigo);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

h1 {
  margin: 25px;
  padding-top: 50px;
}

#output {
  display: none;
}

#startbtn {
  background-image: radial-gradient(white, darkslategray);
  border: 2px solid black;
  border-radius: 20%;
  margin: 30px;
  padding: 5px;
}