body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: indigo;
  background-image: linear-gradient(rgb(231, 6, 6), gold, rgb(0, 183, 255), indigo);
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

h1 {
  margin: 35px;
  padding: 40px;
  border: 5px dotted rgba(0, 0, 0, 0.514);
  border-radius: 50%;
}

h2 {
  color: slateblue;
}

h2 p {
  font-size: 75%;
  padding: 30px;
}

#startbtn {
  background-image: radial-gradient(white, darkslategray);
  border: 2px solid black;
  border-radius: 20%;
  margin: 30px;
  padding: 5px;
}

.nextbtn {
  border: 2px solid indigo;
  border-radius: 25%;
  background-image: radial-gradient(rgb(164, 164, 248), rgb(240, 238, 238));
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

input {
  padding: 5px;
  margin: 5px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(182, 178, 178);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(238, 64, 151);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

#submitbtn {
  border: 3px solid rgb(17, 12, 90);
  border-radius: 35%;
  background-image: radial-gradient(rgb(141, 141, 241), cyan);
  padding: 6px;
}

#output {
  display: none;
}

#q1 {
  display: none;
}

#q2 {
  display: none;
}

#q3 {
  display: none;
}

#q4 {
  display: none;
}

#q5 {
  display: none;
}

#result1 {
  display: none;
}

#result2 {
  display: none;
}

#result3 {
  display: none;
}

#result4 {
  display: none;
  margin-bottom: 50px;
}

.restart a {
  border: 3px solid black;
  border-radius: 25%;
  padding: 10px;
  background-color: rgba(158, 145, 145, 0.3);
  color: white;
}