body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: linear-gradient(rgb(231, 6, 6), gold, rgb(0, 183, 255), indigo);
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

h1 {
  margin: 35px;
  padding: 40px;
  border: 5px dotted rgba(0, 0, 0, 0.514);
  border-radius: 50%;
}

h2 {
  color: slateblue;
}

#startbtn {
  background-image: radial-gradient(white, darkslategray);
  border: 2px solid black;
  border-radius: 20%;
  margin: 30px;
  padding: 5px;
}

.nextbtn {
  border: 2px solid indigo;
  border-radius: 25%;
  background-image: radial-gradient(lavender, gray);
  padding: 5px;
}

#output {
  display: none;
}

#q1 {
  display: none;
}

#q2 {
  display: none;
}

#q3 {
  display: none;
}

#q4 {
  display: none;
}

#q5 {
  display: none;
}

#result1 {
  display: none;
}

#result2 {
  display: none;
}

#result3 {
  display: none;
}